<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="/home/airsim/ass.bt">
		<param name="resolution" value="0.6" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world_enu" />
	</node>
</launch>